h2._3york {
	box-sizing: border-box;
	color: #002441;
	font-family: Poppins, sans-serif;
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	margin: 0px 0px 36px;
    padding-left: 7%;
}

img {
	box-sizing: border-box;
	cursor: pointer;
	display: inline;
	object-fit: cover;
	overflow: clip;
	vertical-align: middle;
}

p {
	box-sizing: border-box;
	color: #002441;
	cursor: pointer;
	display: -webkit-box;
	font-family: Roboto, sans-serif;
	font-weight: 600;
	line-height: 24px;
	margin: 0px 0px 20px;
	min-height: 72px;
	overflow: hidden;
	text-align: left;
}

span {
	box-sizing: border-box;
	color: rgba(0, 36, 65, 0.7);
	cursor: pointer;
	font-family: Roboto, sans-serif;
	font-size: 14px;
	letter-spacing: 0.14px;
	line-height: 22px;
	margin: 0px 0px 20px;
	text-align: left;
}

div._1gddD {
	box-sizing: border-box;
	display: flex;
	gap: 24px;
	overflow: auto;
}

.oddIx .slick-next, .oddIx .slick-prev {
    width: 36px;
    height: 36px;
    background: #fff;
    -webkit-box-shadow: 0 3px 9px rgba(126, 133, 148, .08);
    box-shadow: 0 3px 9px rgba(126, 133, 148, .08);
    border-radius: 50%;
    top: -60px;
}
.oddIx .slick-prev {
    right: 58px;
    left: auto;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}
._1KfL7 {
    opacity: .5;
    cursor: default;
}
._3aNnc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100% !important;
}
.P5KXI img {
    border-radius: 16px;
}


.Q1G_H {
    padding: 24px 16px;
}





